<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <h1>EJS: Ejemplo de uso de if</h1>
    <br>
    <% if (coche?.id) { %>
        <h3>Marca:<%= coche.marca %></h3>
        <h3>Modelo:<%= coche.modelo %></h3>
        <h3>Año de fabricación<%= coche.anio %></h3>
    <% } %>
</body>

</html>