<!DOCTYPE html>
<html lang="es-AR">

<head><%- include('../partials/head'); %></head>

<body>
    <header><%- include('../partials/header'); %></header>

    <main>
        <h1>EJS: Ejemplo de uso de img</h1>
        <br>

        <div class="text-center">
            <img class="img-thumbnail w-25" src="/public/img/arg4.png" alt="Argentina 4.0">
        </div>
        <br>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>
</html>